<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Jake Popham</h1>
                <h3>Aspiring Data Scientist</h3>
                <h1>[SITE UNDER CONSTRUCTION]</h1>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>-->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
